<!DOCTYPE html>
<html lang="ja">
<head>
    {{ template "head" . }}
    <title>登録ページ</title>
    <script src="../../static/component/add.js"></script>
</head>
<body class="bg-light">
    {{ template "navbar" .}}

    <div id="message" hidden>{{ .message }}</div>

    <div class="container mt-5">
        <h1 class="mb-4">登録ページ</h1>

        <form method="post">
            <div class="mb-3">
                <label for="name" class="form-label">登録名</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">内容</label>
                <textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="登録">
            </div>
        </form>

        <a href="/component/list">登録済みリスト</a>
    </div>
</body>
</html>
