<!DOCTYPE html>
<html lang="ja">

<head>
    {{ template "head" . }}
    <title>登録済みリスト</title>
</head>

<body class="bg-light">
    {{ template "navbar" .}}

    <div class="container mt-4">
        <h1 class="mb-4">登録済みリスト</h1>
        <ul class="list-group">
            {{ range .elements }}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <span class="fw-bold">ID:</span> {{ .Id }}<br>
                        <span class="fw-bold">Name:</span> {{ .Name }}<br>
                        <span class="fw-bold">Content:</span> {{ .Content }}
                    </div>
                    <div class="my-3 text-right">
                        <form action="/component/delete" method="post" class="d-inline">
                            <input type="hidden" name="id" value="{{ .Id }}">
                            <button type="submit" class="btn btn-danger btn-sm">削除</button>
                        </form>
                        <span><a href="#" class="btn btn-primary btn-sm ml-2">編集</a></span>
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>

        <a href="/component/add">リストの追加</a>
    </div>
</body>
</html>