<!DOCTYPE html>
<html lang="ja">

<head>
    {{ template "head" . }}
    <title>ようこそ{{.user.UserName}}さん</title>
</head>

<body>
    {{ template "navbar" .}}
    <div class="container">
        <div class="row g-4">
            <h1>{{.user.UserName}}さんのマイページ</h1>

            <div class="mt-4">
                <h2><a href="/component/add" class="btn btn-primary">リスト登録</a></h2>
                <h2><a href="/component/list" class="btn btn-primary">リスト一覧</a></h2>
            </div>

            <h2 class="mt-4">今日のリマインドリスト</h2>

            {{range .elements}}
            <div class="col-lg-4 col-sm-6">
                <div class="element card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title">{{ .Name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">モザイクをクリックして確認</h6>
                        <p class="blur">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>

                        <form action="/component/check" method="post">
                            <input type="hidden" name="id" value="{{ .Id }}">
                            <input type="hidden" name="memorization" value="yes">
                            <input type="submit" name="btn btn-light memorization" value="覚えていた">
                        </form>
                        <form action="/component/check" method="post">
                            <input type="hidden" name="id" value="{{ .Id }}">
                            <input type="hidden" name="memorization" value="no">
                            <input type="submit" name="btn btn-light memorization" value="忘れていた">
                        </form>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <script src="../../static/mypage/spoiler.min.js"></script>
    <script src="../../static/mypage/mypage.js"></script>
</body>

</html>