h2 {
    padding-top: 20px;
    margin: 20px;
    font-family: 'Nunito', sans-serif;
}

.element {
    background-color: darkseagreen;
    border-radius: 20px;
    border: none;
}

.element input {
    border: none;
    border-radius: 20px;
    padding: 3px;
    margin: 3px;
    width: 100%;
}

.expiredElement {
    background-color: #ff6666 !important;
    border-radius: 20px;
    border: none;
}

.expiredElement input {
    border: none;
    border-radius: 20px;
    padding: 3px;
    margin: 3px;
    width: 100%;
}

.none-msg {
    display: flex;
    justify-content: center;
    align-items: center;
}